<html>

    <%- include('./partials/head.ejs') %>
    
    <body>
        
        <%- include('./partials/nav.ejs') %>

        <div class="about content">
            <h2>About Us</h2>
            <p>This is a page telling our customers about the services we render both home and abroad</p>
            <p>Same as above, we do everything and anything you need or you want us to do everywhere you go</p>
            <p>Finally, we are reliable, message us, subscribe and follow for more exiciting contents every day</p>
        </div>

        <%- include('./partials/footer.ejs') %>
        
    </body>
</html>